/* #273686 ;  dark blue*/


* {
  margin:  0;
  color: #333;
 
}

.navbar {
  padding: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  /* position: absolute;
  top: 20px; */
  /* max-width: 760px; */
  max-width: 1133px;
  /* max-height: 100px; */
  margin: 0 auto;
  /* border-bottom: 1px solid #f2f2f2; */
}

.navbar h1 {
  color: #273686;
  font-size: 30px;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #273686;
}

.open-an-account-button {
   margin-left: 10px;
   background-color: white;
   display: inline-block;
   border: 1px solid #FF5494;
   border-radius: 20px;
   padding: 10px 10px 10px 0px;
 }
